.aboutMeSect{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 600px;
    font-family: 'Crimson Text', serif;
}

.aboutMeDiv{
    margin: 40px 20px;
}

.aboutMePara{
    margin: 20px 220px;
    font-size: 22px;
    font-family: 'Crimson Text', serif;
}

.aboutMeHeader{
    font-size: 40px;
}

.otherResource{
    height: 75px;
    margin: 10px 40px;
}