.navDiv{
    background-color: #f1f4f7;
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 45px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
}

.navText span{
    font-size: 17px;
}

nav{
    display: flex;
    align-items: center;
}

.linkPoint{
    padding: 10px;
}

.linkPoint:hover{
    color:#933255;
}

.resumeLink{
    text-decoration: none;
    color: black;
}