.projectsDiv{
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 600px;
    background-color: #6d233e;
    color: white;
}

.projectsText{
    text-align: center;
    font-size: 40px;
}

.projectsSect{
    background-color: #6d233e;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    color:white;
}

.projectButton{
    border: none;
    margin: 5px;
    border-radius: .25em;
    height: 35px;
    background-color: #64758C;
    color: white;
    font-family: 'Quicksand', sans-serif;
    transition: .30s;
    
}

.projectButton:hover{
    background-color: #6d233e;
    transition:.30s;
    border: 1px solid white;
}